@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,500');

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {display:block;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
input, textarea, select {display:block;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_given_names {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_given_names, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_family_name, {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_family_name, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_email {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_email, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_old_password {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_old_password, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_new_password1 {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_new_password1, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#id_new_password2 {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#id_new_password2, select {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}



iframe {border:0; margin:0; padding:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection{background: #48B2C4; none repeat scroll 0 0;color: #fff;text-shadow:none}
::selection{background: #48B2C4; none repeat scroll 0 0;color: #fff;text-shadow:none}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #48B2C4;;text-decoration: none;-moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
	transition-duration: 0.3s;}
a:hover {color: #48B2C4;;}

h1, h2 	{font-size: 25px;line-height: 25px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}
h1,h2,h3,h4,h5,h6{font-family: "Roboto";letter-spacing: 1px;font-weight: 700;line-height:1.2;}

p{margin: 10px 0;color: #777;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.list-inline li{display: inline-block;}

/* --Line-- */
hr{ margin: 20px auto 0; padding: 0; max-width: 210px;border: 0; border-top: double 4px;text-align: center;display: block; line-height: 1px; height: auto;-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;}

hr.line01:after, 
hr.line02:after,
hr.line03:after{content: url(../images/rose.png);display: inline-block;position: relative;top: -12px;padding: 0 10px;}

hr.line01 {border-color: #111;}
hr.line01:after {color: #111;background-color: #F7F7F7;}

hr.line02 {border-color: #111;}
hr.line02:after {color: #111;background-color: #ffffff;}

hr.line03 {border-color: #fff;}
hr.line03:after {color: #fff;background-color: #303231;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {height: 100%;width:100%; padding:0; margin:0;}
body {
	background: #fff;color: #3F3F3F;
	/*font: 14px/25px Arial;*/
	font-family: "Roboto";
	font-weight: 400;}
body .wrap-body{}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{}
header .wrap-header{}
header .main-header{text-align: center;padding: 45px 0;background:#F7F7F7;}

header .contact-info{padding: 0 46px 0 0;color: #acb4b6;display: inline-block;font-size: 12px;line-height: 20px;position: relative;}

header .contact-info::before {font-size: 23px;height: 30px;line-height: 30px;width: 30px;color: #48B2C4;;font-family: "FontAwesome";margin: 0;padding: 10px;position: absolute;text-align: center;top: 0;border: 1px solid #ccc;border-radius: 50%;}
.left.contact-info::before{content: "\f017";right: 0;}
.right.contact-info::before{content: "\f095";left: 0;}
.left.contact-info{padding: 5px 70px 0 0;text-align: right;}
.right.contact-info{padding: 5px 0 0 70px;text-align: left;}

header #logo{}
@media screen and (max-width:767px){
	header .main-header{padding-top: 50px;}
	header #logo{margin: 20px 0;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container {}
#container .wrap-container{background: #ffffff;}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding:80px 10px; position: relative;}
.content-box .header {text-align: center; margin: 20px 0 70px;}
.content-box .header h2{font-size: 37px;font-weight: bold;line-height: 1.2;color: #111;}
.content-box .header .wrapper{padding: 5px; display: inline-block;}
.content-box .header .intro {color: #48B2C4;;font-size: 15px;font-style: italic;font-family: "Roboto"; font-weight: bold;}

.content-box.boxstyle-1{background:#fff; color: #333;}
.content-box.boxstyle-2{background:#F7F7F7;}
.content-box.boxstyle-3{background: #222 url(../images/bg3.jpg) fixed;color: #fff;}

.content-box.box-1 {}
.content-box.box-1 h1{font-size: 38px;color: #333;line-height: 1.2;margin-bottom: 30px;}
.content-box.box-1 span{font-size: 100%;}
.content-box.box-1 .lead {font-size: 100%;color: #555;}

.content-box.box-2 .wrap-box {padding:80px 0;}
.content-box.box-2 .post{text-align: center;margin: 20px inherit; }
.content-box.box-2 img{}

.content-box.box-3 {}
.content-box.box-3 .project-category {font-size: 16px !important;}
.content-box.box-3 .project-name {font-size: 13px !important;}
.content-box.box-3 .project-name h4{font-size: 40px;margin-bottom: 5px;line-height: 1.2;}
.content-box.box-3 .portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category,
.content-box.box-3 .portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name
{display: block !important;}

.content-box.box-4 {text-align: center;}
.content-box.box-4 .item{}
.content-box.box-4 .item .item-content{padding: 20px;}
.content-box.box-4 .item h3 a{font-size: 20px;font-weight: bold;color: #111;}
.content-box.box-4 .item h3 a:hover{color: #48B2C4;;}
.content-box.box-4 .item span{font-weight: bold;color: #48B2C4;;margin-top: 10px;display: block;}
.content-box.box-4 .project-social i.fa{font-size: 91px;}
.content-box.box-4 .project-social ul li{margin: 10px 2px 0;}
.content-box.box-4 .project-social ul li a{display: block;width: 40px;height: 40px;padding-top: 12px;}

.content-box.box-5 {text-align: center;}
.content-box.box-5 .header h2{color: #fff;}
.content-box.box-5 .item{}
.content-box.box-5 .item .item-content{padding: 20px 10px;}
.content-box.box-5 h3 a{color: #fff;font-size: 18px;}
.content-box.box-5 h3 a:hover{color: #48B2C4;;}
.content-box.box-5 i.fa{line-height: 1.6;margin: 0 3px;}
.content-box.box-5 span{font-size: 15px;display: block;margin-top: 10px;color: #ccc;}
.content-box.box-5 .testimonials-item{max-width: 600px;margin: auto;border: 1px solid #48B2C4;;padding: 30px;} 
.content-box.box-5 .testimonials-item img{max-width: 130px;margin-bottom: 15px;border-radius: 50%;}
.content-box.box-5 .testimonials-item h5{margin-top: 30px;}
.content-box.box-5 .testimonials-item p{color: #ccc;}
#owl-testimonials{margin-top: 50px;}

.content-box.box-6 {text-align: center;}
.content-box.box-6 .wrap-box{padding: 30px 10px;}
.content-box.box-6 h3{color: #000;}
.content-box.box-6 p{font-size: 15px;}
.content-box.box-6 i.fa{font-size: 28px; height: 70px; width: 70px; background: #48B2C4;; color: #fff;border-radius: 50%;margin-bottom: 30px;padding-top: 22px;}

/* ---MainContent-Article--- */
#main-content{margin: 40px 0;}
#main-content .wrap-content{padding: 0 30px 20px;border-right: 1px solid #ddd;}
#main-content .wrap-content h3{margin-bottom: 10px;}
/*#main-content .wrap-map{background: #fff;padding: 5px;border: 1px solid #bbb;max-width: 520px;}*/

article{display: inline-block;border-bottom: 1px solid #ddd;padding-bottom: 30px;margin-bottom: 30px;}
article:last-child{border-bottom: none;padding-bottom: 0;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .art-header{margin-bottom: 20px;}
article .art-header h3{font-size: 28px;color: #111;}

article .art-content a{ color: #FE9B13;font-weight: bold;}
article .art-content a:hover{ color: #000;}
article .art-content blockquote {border-left: 3px solid #1c7791;font-size: 18px;margin: 0 50px;font-style: italic;color: #666;padding-left: 20px;}
article .art-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}

article .entry-title {margin: 10px 0;}
article .entry-title h2{font-size: 38px;}
article .info a{}
article .info i.fa{line-height: 1.6;margin: 0 3px;}
article .info{display: block;margin-top: 10px;font-size: 15px;}

article img{display: block;width: 100%;margin-top: 10px;}

/* ---Sidebar-Widget--- */
#sidebar{margin-top: 40px;}
#sidebar .wrap-sidebar{margin: 0px 10px ;}

.widget {padding: 5px 25px 10px;}
.widget ul li { line-height: 2.8;border-bottom: 2px solid #DDD;}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.widget .wid-header  {}
.widget .wid-header h5 {display: inline-block;margin: 10px 0 15px;font-size: 23px;}
.widget .wid-content{padding: 0 0 25px;border-bottom: 1px solid #ddd;}

.widget.wid-about {}

.widget.wid-tag {}
.widget.wid-tag  a{color: #fff; background: #48B2C4;; padding: 5px 10px;line-height: 2.3;font-size: 14px;text-transform: capitalize;margin-right: 1px;}
.widget.wid-tag  a:hover{background: #222;}

.widget.wid-gallery {}
.widget.wid-gallery img{margin: 0 10px 10px 0; max-width: 150px;}
.widget.wid-gallery .wid-content{border-bottom: none;}

.widget.wid-archive {}
.widget.wid-archive select {margin: 5px 0;height: 40px;width: 100%;padding-left: 10px;font-family: "Noto Serif",serif;font-size: 16px; background-color: #e9e9e9;color: #777777;border: none;}

.widget.wid-related {background-color: #fff;}
.widget.wid-related .wid-content{border-bottom: none;}
.widget.wid-related img{ max-width: 243px; width: 100%;}
.widget.wid-related h4{margin-top: 10px;font-size: 16px;}
.widget.wid-related a{color: #333;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background: #F8F8F8;font-size: 14px;}
.widget-title{text-transform: capitalize;margin-bottom: 30px;}
footer .wrap-footer{padding: 50px 60px 60px;}
footer .wrap-footer ul li {margin-bottom: 5px;padding: 10px 0 15px;}
footer .logo img{max-width: 170px;margin-top: 30px;}
footer .col-footer-1 {}

footer .col-footer-2{}
footer .col-footer-2 ul {padding: 0;}
footer .col-footer-2 ul li {list-style: none;margin-bottom: 5px; border-bottom: 1px solid #777;}
footer .col-footer-2 ul li:first-child{padding-top: 0;}
footer .col-footer-2 ul li:last-child{border-bottom: none;}
footer .col-footer-2 ul li a{color: #777;font-size: 12px;}
footer .col-footer-2 ul li a:hover{color: #48B2C4;;}

footer .col-footer-3 input[type="text"]{ outline: medium none;color: #999999;display: block;font-size: 14px;height: 40px;line-height: 1.2;margin: 10px 0;padding: 5px 10px 0;width: 100%;background-color: transparent;border: 2px solid #999;}

.copyright{background: #f1f1f1;color: #777;}
.copyright .wrapper{padding: 20px;}
.copyright ul.quick-link{float: right;}
.copyright ul.quick-link li {display: inline-block;margin-right: 10px;}
.copyright a{}

@media all and (max-width: 768px){
	.copyright{text-align: center;}
	.copyright ul.quick-link{float: none;margin-top: 10px;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h3{margin-left: 30px;}
#contact_form {padding:0px 25px;}

#ff label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}

#ff input[type="text"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#ff input[type="password"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#ff input[type="email"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#ff select{display:block;width:40%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

#ff input, textarea, select, button[type="text"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}
#ff input, textarea, select, button[type="checkbox"]{display:inline-table;width:10%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}


#ff textarea, select, button[type="text"]{display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}


textarea {display:block;width:100%;height:200px;background-color:#F3F3F3; color:#111;border:1px solid #ccc;padding:10px;margin: 5px 0 25px 0;}



/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
.button{
	cursor: pointer;
	font-size: 13px;
	border:1px solid #ffffff; 
	display: inline-block;
	text-decoration: none;
	margin: 5px 0;
	color: #fff;
	padding: 10px 15px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
.button:hover{text-decoration: none; background: #303030;}

.button.bt1 {background: #48B2C4;;color: #ffffff;padding: 10px 35px;text-align: center;border:2px solid #48B2C4;;font-weight: bold; font-size: 15px;border-radius: 30px;}
.button.bt1:hover{background: transparent;color: #48B2C4;;}
.button.bt2 {background: #48C457;;color: #ffffff;padding: 10px 35px;text-align: center;border:2px solid #48C457;;font-weight: bold; font-size: 15px;border-radius: 30px;}
.button.bt2:hover{background: transparent;color: #48C457;;}


.button-subcribe{background-color: #48B2C4;;color: #fff;font-weight: bold;}
.button-subcribe:hover{background-color: #333;}


/* ---------------------------------------------------------------------------- */
/* ------------------------------Portfolio Box--------------------------------- */
/* ---------------------------------------------------------------------------- */	
.portfolio-box {display: block;position: relative;margin: auto;overflow: hidden;}
.portfolio-box:before{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-top:1px solid #48B2C4;;border-bottom:1px solid #48B2C4;;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:after{z-index:1;content:"";position:absolute;left:10px;right:10px;top:10px;bottom:10px;border-left:1px solid #48B2C4;;border-right:1px solid #48B2C4;;transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-webkit-transition:all 0.4s ease-in-out 0s;}
.portfolio-box:hover:before{transform:scale(0,1);-moz-transform:scale(0,1);-webkit-transform:scale(0,1);-ms-transform:scale(0,1)}
.portfolio-box:hover:after {transform:scale(1,0);-moz-transform:scale(1,0);-webkit-transform:scale(1,0);-ms-transform:scale(1,0)}

/****** Zoom Effect ******/
.portfolio-box.zoom-effect .portfolio-box-caption{background: rgba(0, 0, 0,.3);}
.portfolio-box.zoom-effect img{-webkit-filter: grayscale(100%);filter: grayscale(100%);-webkit-transition: 0.5s ease;transition: 0.5s ease;}
.portfolio-box:hover.zoom-effect img{-webkit-filter: grayscale(0);filter: grayscale(0);-webkit-transform:scale(1.1); /* Safari and Chrome */-moz-transform:scale(1.1); /* Firefox */-ms-transform:scale(1.1); /* IE 9 */-o-transform:scale(1.1); /* Opera */transform:scale(1.1);}


.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;text-shadow: 2px 2px #111;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 13px;color: #48B2C4;;margin-bottom: 10px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 16px;margin-bottom: 3px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social{transition: all 1s ease;opacity: 0; height: 0;overflow: hidden;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social i.fa{font-size: 25px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li{margin: 20px 5px 0;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a{display: block;width: 48px;height: 48px;color: #48B2C4;;background: #fff;transition-duration: 0.3s;padding-top: 12px;border-radius: 50%;text-shadow: none;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-social ul li a:hover{color: #fff;background-color: #48B2C4;;}

.portfolio-box:hover .portfolio-box-caption {opacity: 1;background: none;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-social{opacity: 1;height: auto;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name
{display: none;}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 15px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 19px;
    }
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Crumbs---------------------------------- */
/* ---------------------------------------------------------------------------- */
.crumbs {-webkit-box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);-moz-box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);padding:15px 0 15px 30px;margin: 60px 0 40px;}
.crumbs ul {list-style: none;display: inline-table;}
.crumbs ul li {display: inline;}
.crumbs ul li a {display: block;float: left;background: #48B2C4;;text-align: center;padding: 7px 30px 8px 40px;position: relative;margin: 0 20px 0 0; text-decoration: none;color: #fff;}
.crumbs ul li a:after {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #48B2C4;;position: absolute; right: -20px; top: 0;z-index: 1;-webkit-transition: border 0.3s, -webkit-transform 0.3s;-moz-transition: border 0.3s, -moz-transform 0.3s;-o-transition: border 0.3s, -o-transform 0.3s;transition: border 0.3s, transform 0.3s;}
.crumbs ul li a:before {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #fff;position: absolute; left: 0; top: 0;}
.crumbs ul li:first-child a {border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.crumbs ul li:first-child a:before {display: none; }
.crumbs ul li:last-child a {padding-right: 40px;padding-left: 50px;border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.crumbs ul li:last-child a:after {display: none; }		
.crumbs ul li a:hover {background: #222;color: #fff;}
.crumbs ul li a:hover:after {border-left-color: #222;}
.crumbs ul li a:hover:after {border-left-color: #222;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-controls .owl-buttons div {position: absolute;color:#777;opacity: 0.7;}
.owl-carousel:hover .owl-buttons div {color:#fff;}
.owl-controls .owl-buttons .owl-prev {left: 10px;top: 50%;}
.owl-controls .owl-buttons .owl-next {right: 10px;top: 50%;}
.owl-carousel{margin-bottom: 20px;}
.owl-carousel .owl-buttons div i {font-size: 40px;margin: -20px 0 0;}
.owl-carousel .item{position: relative;}
.carousel-caption {position: absolute;top: 50%;transform: translateY(-50%);bottom: auto;padding: 0;text-align: center;width: 100%;left: auto;right: auto;text-shadow: none;}
.carousel-caption-title {margin: 0;padding: 0;}
.carousel-caption-title a {font-size: 18px;font-size: 1.125em;font-family: 'Cabin', Helvetica, sans-serif;text-transform: uppercase;letter-spacing: 2px;color: #373735;}
.carousel-caption-title {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.carousel-caption-title a:hover {color: #628d7c;}
.carousel-caption-category {margin: 0;padding: 0;}
.carousel-caption-category a {color: #aaaaaa;font-size: 14px;font-size: 0.875em;letter-spacing: .5px;text-transform: lowercase;}
.carousel-caption-category a:hover {color: #628d7c;}
.carousel-caption-inner {background: #fff;padding: 30px 40px;max-width: 80%;margin: 0 auto;display: inline-block;}

.helptext{
font-size: 4px;
}

#itemmap{
height: 400px;
width: 400px;
}