<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>SmartProfile</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}



</head>
<body>
<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">

                            {% if user.is_authenticated %}
                            <form method="post"/>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="button bt1" type="submit" value="Change"/>
                            </form>
                            {% else %}
                            <a href="../../../login/">Please Login to View Profile!</a>
							{% endif %}
						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
                        <p></p>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
</section>

{% include "footer.html" %}
{% include "scripts.html" %}

</div>
</body></html>
