		<!-----------------content-box-2-------------------->
		<section class="content-box boxstyle-2 box-2">
			<div class="zerogrid" style="width: 100%;">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">Gallery</h2>
							<hr class="line01">
							<div class="intro">We Love Our Clients</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-4">
							<div class="portfolio-box zoom-effect">
								<img src="static/images/3333.jpg" class="img-responsive" alt="">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-name">
											Project Name
										</div>
										<div class="project-category">
											Category
										</div>
										<div class="project-social">
											<ul class="list-inline">
												<li><a href="single.html"><i class="fa fa-link"></i></a></li>
												<li><a href="images/3333.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="portfolio-box zoom-effect">
								<img src="static/images/2222.jpg" class="img-responsive" alt="">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-name">
											Project Name
										</div>
										<div class="project-category">
											Category
										</div>
										<div class="project-social">
											<ul class="list-inline">
												<li><a href="single.html"><i class="fa fa-link"></i></a></li>
												<li><a href="images/2222.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="portfolio-box zoom-effect">
								<img src="static/images/1.jpg" class="img-responsive" alt="">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-name">
											Project Name
										</div>
										<div class="project-category">
											Category
										</div>
										<div class="project-social">
											<ul class="list-inline">
												<li><a href="single.html"><i class="fa fa-link"></i></a></li>
												<li><a href="images/1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="portfolio-box zoom-effect">
								<img src="static/images/4.jpg" class="img-responsive" alt="">
								<div class="portfolio-box-caption">
									<div class="portfolio-box-caption-content">
										<div class="project-name">
											Project Name
										</div>
										<div class="project-category">
											Category
										</div>
										<div class="project-social">
											<ul class="list-inline">
												<li><a href="single.html"><i class="fa fa-link"></i></a></li>
												<li><a href="images/4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-----------------content-box-3-------------------->
		<section class="content-box boxstyle-3 box-3 ">
			<div class="portfolio-box">
				<img src="static/images/rings.jpg"alt="">
				<div class="portfolio-box-caption">
					<div class="portfolio-box-caption-content">
						<div class="project-category">
							New Collection
						</div>
						<div class="project-name">
							<h4>Spring Collection</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-----------------content-box-4-------------------->
		<section class="content-box boxstyle-1 box-4">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">Team</h2>
							<hr class="line02">
							<div class="intro">Meet Our Team</div>
						</div>
					</div>
					<div class="row"><!--Start Box-->
						<div class="col-1-4">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/ava-4.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="#">Nina Santos</a></h3>
									<span>Hairdresser</span>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/ava-5.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="#">Nina Santos</a></h3>
									<span>Stylist</span>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/ava-6.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="#">Nina Santos</a></h3>
									<span>Makeup Artist</span>
								</div>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/ava-7.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="#">Nina Santos</a></h3>
									<span>Makeup Artist</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-----------------content-box-5-------------------->
		<section class="content-box boxstyle-3 box-5">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">From the Blog</h2>
							<hr class="line03">
							<div class="intro">We make beauty</div>
						</div>
					</div>
					<div class="row"><!--Blog Box-->
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/portfolio-1.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="single.html">Discover Natural Sources for Hair</a></h3>
									<span><i class="fa fa-calendar"></i> August 10, 2016 <i class="fa fa-comments"></i> 1 Comment</span>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/portfolio-2.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="single.html">Discover Natural Sources for Hair</a></h3>
									<span><i class="fa fa-calendar"></i> August 10, 2016 <i class="fa fa-comments"></i> 1 Comment</span>
								</div>
							</div>
						</div>

						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="portfolio-box">
									<img src="static/images/portfolio-3.jpg"alt="">
								</div>
								<div class="item-content">
									<h3><a href="single.html">Discover Natural Sources for Hair</a></h3>
									<span><i class="fa fa-calendar"></i> August 10, 2016 <i class="fa fa-comments"></i> 1 Comment</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row"><!--Testimonials Box-->
						<div id="owl-testimonials" class="owl-carousel t-center">
							<div class="item testimonials-item">
								<img src="static/images/partner3.png" />
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
								<h5>Catherine Grace - America</h5>
							</div>
							<div class="item testimonials-item">
								<img src="static/images/partner1.png" />
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
								<h5>Catherine Grace - America</h5>
							</div>
							<div class="item testimonials-item">
								<img src="static/images/partner2.png" />
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
								<h5>Catherine Grace - America</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-----------------content-box-6-------------------->
		<section class="content-box boxstyle-1 box-6">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="col-1-3">
									<i class="fa fa-map-marker"></i>
								</div>
								<div class="col-2-3 t-left">
									<h3>Address</h3>
									<p>123, New Lenox Chicago, IL 60606</p>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="col-1-3">
									<i class="fa fa-phone"></i>
								</div>
								<div class="col-2-3 t-left">
									<h3>Phone</h3>
									<p>Carteret NJ 0708 (732) 803-01 03, (732) 806-01 04</p>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="col-1-3">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="col-2-3 t-left">
									<h3>Email</h3>
									<p><span>Email One :</span> info@yoursite.com </p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>