<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Login</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}

</head>

<body class="archive-page">
	<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}


    </header>


<!--MAIN CONTENT-->
		<section id="container">
			<div class="wrap-container zerogrid">
				<div class="crumbs">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="contact.html">Login</a></li>
					</ul>
				</div>
				<div id="main-content">
					<div class="wrap-content" style="border-right: none">
						<div class="row">

							<!--<h1 class="t-center" style="margin: 40px 0;color: #212121;letter-spacing: 2px;font-weight: 500;">Log in here</h1>
							<div class="col-full">
							<p>Hello</p>
							</div>-->

							<div class="col-2-3">

									<div class="wrap-col">
									<div class="contact">
										<h3 style="margin: 20px 0 20px 30px">Smart City Login</h3>

										<div id="contact_form">
											<form name="form1" id="ff" method="post" action="">
													{% csrf_token %}

													{{ form.as_p }}
											<!--<label>Username</label> <input type="text" name="name" id="name" placeholder="Username" required="required" /></br>-->
											<!--<label>Password</label> <input type="password" name="password" id="password" placeholder="Password" required="required" /><br>-->
											<input class="button bt1" value="Login!" type="submit" title="Login"/>


											</form>
										</div>
									</div>
								</div>

							</div>
							<div class="col-1-3">

								<div class="wrap-col">
									<h3 style="margin: 20px 0">Don't have a login?</h3>
									<form action="/register/" method="get">
										<input class="button bt1" type="submit" value="Create an account!" id="frm1_submit" />
									</form>
									<br/>
									<strong>Smart City is a free service, and it will be forever!</strong>
									<p>Creating an account with Smart City online will allow you to save events and places, receive notifications
										send and receive messages from other people on Smart City,
										and keep a record of what you have seen and done around the world!</p>
									<p>You can also connect with<br>
										Facebook<br>
										Instagram<br>
										Linkedin<br>
										Other social media</p>
									   <p>Terms and conditions here <br>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


{% include "footer.html" %}
{% include "scripts.html" %}


</div>
</body>
</html>
