<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<style>
	#searchmap{
		width:100%;
		height:400px;
	}
	</style>
    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Smart City Online</title>
	<meta name="Home" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/menu.css">
	<link rel="stylesheet" href="/static/css/lightbox.css">

	<!-- Custom Fonts -->
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/script.js"></script>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">

							<form method='GET' id="ff" action=''>
							<input type="text" name='q' placeholder="Search Places/Events" value='{{request.GET.q}}'>

							<input type="checkbox" name="place" value="College" {{col_check}}> College
								&ensp;
							<input type="checkbox" name="place" value="Library" {{lib_check}}> Library
								&ensp;
							<input type="checkbox" name="place" value="Industry" {{ind_check}}> Industry
								&ensp;
							<input type="checkbox" name="place" value="Hotel" {{hot_check}}> Hotel
								&ensp;
							<input type="checkbox" name="place" value="Park" {{par_check}}> Park
								&ensp;
							<input type="checkbox" name="place" value="Zoo" {{zoo_check}}> Zoo
								&ensp;
							<input type="checkbox" name="place" value="Museum" {{mus_check}}> Museum
								&ensp;
							<input type="checkbox" name="place" value="Restaurant" {{res_check}}> Restaurant
								&ensp;
							<input type="checkbox" name="place" value="Mall" {{mal_check}}> Mall
								&ensp;
							</br>
							<input  type="text" class="button bt1" value="Search" type="submit" title="Search"/>
							</form>
							</br>


							{% if request.GET.q == "" or request.GET.q == null %}
							<h1> Search Something!</h1>

							{% else %}
							<h2>{{ title }}</h2>
							</br>

							<!--Gen Places list-->
							<div class="row">
								{% for place in places_list %}
							  <div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							      <!-- <img src="..." alt="..."> -->
							      <div class="caption">
									  <form method ="get" action = "item" />
									  <input type="hidden" value = '{{place.title}}' name="title" />
									  <input type="hidden" value = '{{place.address}}' name="address" />
									  <input type="hidden" value = '{{place.type}}' name="type" />
									  <input type="hidden" value = '{{place.description}}' name="description" />
									  <input type="hidden" value = '{{place.latitude}}' name="latitude" />
									  <input type="hidden" value = '{{place.longitude}}' name="longitude" />
									  <input type="hidden" value = '{{place.picture}}' name="picture" />

							        <h3>{{place.title}}</h3> <small>{{place.address }}; {{place.type}}</small>
							        <p>{{place.description}}</p>
									  {% if place.picture != '' and place.picture != null %}
										  <img src="../Smart_City/media/{{place.picture}}" style="width:50vw;height:50vh;"/>
									  {% else %}
									  	  <img src=""/>
									  {% endif %}
							        <p><input class="button bt1" value="View" type="submit" title="View"/>
									</p>
								  </form>
							      </div>
							    </div>
							  </div>
							  {% endfor %}
							</div>

							<!--Gen Events list-->
							<div class="row">
								{% for event in events_list %}
							  <div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							      <!-- <img src="..." alt="..."> -->
							      <div class="caption">
							        <h3>{{event.title}}</h3> <small>{{event.address }}</small>
							        <p>{{event.description}} </br>
							        	{{event.event_time}} </p>
									  {% if event.picture != null and event.picture != "" %}
										  <img src="../Smart_City/media/{{event.picture}}" style="width:50vw;height:50vh;"/>
									  {% else %}
									  	  <img src=""/>
									  {% endif %}
							        <p><input class="button bt1" value="View" type="submit" title="View"/>
							        </p>
							      </div>
							    </div>
							  </div>
							  {% endfor %}
							</div>
							{% endif %}
							<p>

							</p>
						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">

							{% if request.GET.q == "" or request.GET.q == null %}
							<iframe
							  width="500"
							  height="400"
							  frameborder="0" style="border:0"
							  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcsVtLuB1-ayYgytXeg2pp5RjOtCcI6K8
								&q=Brisbane" allowfullscreen>
							</iframe>

							{% else %}
							<div id="searchmap">

							</div>

							<script>

							//Initialise the map

							function initMap() {
								var brisbane = {lat:-27.4698, lng:153.0251};
								var options = {
									zoom:14,
									center:brisbane
								}
								var map = new google.maps.Map(document.getElementById('searchmap'), options);
								var activeWindow;

								//add marker
								{% for place in places_list %}

									var marker = new google.maps.Marker({
										position: {lat:{{ place.latitude }}, lng:{{ place.longitude }}},
										map:map
									});

									marker['infowindow'] = new google.maps.InfoWindow({
									    content:'<h5>{{place.title}}</h5><p>{{place.address}}<p><p>{{place.description}}</p>'
									});


									marker.addListener('click', function(){
                                        if(activeWindow != null)
                                           activeWindow.close();
                                        this['infowindow'].open(map, this);
                                        activeWindow = this['infowindow'];
									});


								{% endfor %}

							}
							</script>

							<script async defer
								    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXEQ0-YeEWKoDd2wzMVnfh6TbZHb-401g&callback=initMap">
							</script>
							{% endif %}
						</div>
					</div>
					<!-- AIzaSyBcsVtLuB1-ayYgytXeg2pp5RjOtCcI6K8 Lee-->
					<!-- AIzaSyCtx9Ak2HPrGQFlnIkk6sEax3l2pwnU7v4 George-->
					<!-- AIzaSyBXEQ0-YeEWKoDd2wzMVnfh6TbZHb-401g Kyle-->

				</div>
			</div>
		</section>



	</div>
</section>

{% include "footer.html" %}

	
</div>
</body></html>
